html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background-color: #040D12;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header {
    padding: 10px;
    padding-bottom: 0;
    display: flex;
    justify-content: space-evenly;
}

.player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.vs {
    font-family: 'Nunito', sans-serif;
    font-size: 70px;
    color : gainsboro;
    margin-top: 85px;
}

.player-num {
    font-family: 'Signika', cursive;
    color: #008170;
}

svg {
    color: #183D3D;
}

.player-text {
    margin-top: 5px;
    font-family: 'Signika', sans-serif;
    color: #183D3D;
}

h2 {
    text-align: center;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    color: #5C8374;
}

.weapons {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    height: 150px;
    border-bottom: #008170 2px solid;
}

div#tracker {
    width: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div#round {
    color: yellow;
    align-self: center;
    margin-bottom: 25px;
    font-size: 19px;
    font-family: "Nunito";
}

div#result {
    align-self: center;
    font-size: 17px;
    font-family: "Signika";
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.rps {
    align-self: center;
    padding: 5px;
    border: #0F0F0F solid 3px;
    background-color: #3f3f56;
    height: 95px;
    width: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 17px 6px #232D3F;
}

.left .rps:hover {
    box-shadow: 0px 2px 12px 6px #226b67;
    background-color: #008170;
}

.clicked {
    box-shadow: 0px 2px 12px 6px #226b67;
    background-color: #008170;
}

svg.paper {
    margin-top: 8px;
}

.rps.scissors-left {
    margin-left: 28px;
}

.rps.scissors-right {
    margin-right: 28px;
}

.score {
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}

.score h1 {
    color: #008170;
    font-size: 60px;
    font-family: "Nunito";
}

#game {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#result-popup {
    width: 300px;
    height: 350px;
    background-color: #161728;
    display: none;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    margin-bottom: 60px;
    box-shadow: 0px 2px 16px 4px #3f5d9a87;
    z-index: 9;
}

button {
    border: 2px #040D12 solid;
    background-color: #183D3D;
    width: 150px;
    height: 50px;
    color: gainsboro;
    font-size: 17px;
    font-family: "Nunito";
}

h1.won-lost {
    font-family: "Signika";
    text-align: center;
}